<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ROC Curve</title>
</head>
<body>
    <h1>ROC Curve</h1>
    <img src="data:image/png;base64,<%= roc_curve_img %>">
</body>
</html>
