<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
      <div class="container">
          <div class="row">

              <div class="col-lg-3 col-md-6">
                  <div class="footer-info">
                      <h3>InsightSerenity</h3>
                      <p>
                          Houston, TX <br>
                          77036<br><br>
                          <strong>Phone:</strong> <a href="tel:3463839529">346-383-9529</a><br>
                          <strong>Email:</strong> <a href="mailto:emmanuel.ao@outlook.com">Emmanuel.ao@outlook.com</a><br>
                      </p>
                      <div class="social-links mt-3">
                          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                      </div>
                  </div>
              </div>

              <div class="col-lg-2 col-md-6 footer-links">
                  <h4>Useful Links</h4>
                  <ul>
                      <li><i class="bx bx-chevron-right"></i> <a href="/insightserenity">Home</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="/insightserenity/about">About us</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="/insightserenity/service/">Services</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="/insightserenity/terms">Terms of service</a></li>
                      <li><i class="bx bx-chevron-right"></i> <a href="/insightserenity/privacy">Privacy policy</a></li>
                  </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <% if (services && services.length > 0) { %>
                        <% services.forEach(service => { %>
                            <li><i class="bx bx-chevron-right"></i> <a href="/insightserenity/service/<%= service._id %>"><%= service.name %></a></li>
                        <% }) %>
                    <% } else { %>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">No services available</a></li>
                    <% } %>
                </ul>
              </div>

              <div class="col-lg-4 col-md-6 footer-newsletter">
                  <h4>Our Newsletter</h4>
                  <p>Stay updated with the latest insights and news from InsightSerenity. Subscribe to our newsletter.</p>
                  <form action="" method="post">
                      <input type="email" name="email"><input type="submit" value="Subscribe">
                  </form>
              </div>

          </div>
      </div>
  </div>

  <div class="container">
      <div class="copyright">
          &copy; Copyright <strong><span>InsightSerenity</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
  </div>
</footer><!-- End Footer -->
