<!-- views/user/deleteUser.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h1>Delete User Account</h1>
    <p>Are you sure you want to delete your account?</p>
    <form action="/insightserenity/user/<%= user._id %>/delete" method="POST">
        <button type="submit">Delete Account</button>
    </form>
</body>
</html>
