<% layout('layouts/boilerplate') %>
<!-- Header Start -->
<div class="container-fluid bg-black py-5 mb-5 page-header">
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-3 text-white animated slideInDown">About Us</h1>
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb justify-content-center">
                      <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                      <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- Header End -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="lib/img/about.jpg" class="img-fluid" alt="About Us">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Empowering You with Insightful Consultancy</h3>
          <p class="fst-italic">
            At InsightSerenity, we are dedicated to providing top-tier consultancy services, leveraging our deep expertise in IT, data science, and life literacy coaching. Established by Emmanuel Oyemosu in 2023, our firm is built on the principles of excellence, integrity, and impactful guidance.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Expert IT and data science consulting to drive your business forward.</li>
            <li><i class="ri-check-double-line"></i> Life literacy coaching rooted in biblical principles for personal and professional growth.</li>
            <li><i class="ri-check-double-line"></i> Commitment to delivering tailored solutions and unparalleled support to our clients.</li>
          </ul>
          <p>
            With a mission to empower individuals and organizations alike, InsightSerenity blends cutting-edge technology with deep-seated values to offer solutions that are not only effective but also transformative. Join us on a journey of insight, serenity, and success.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->
